.DS_Store
bin
.bake_cache
.vscode
gcov
/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/build/x64/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/build/x64/Debug/ALL_BUILD/ALL_BUILD.log
/build/x64/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
/build/INSTALL.vcxproj.filters
/build/INSTALL.vcxproj
/build/flecs_static.vcxproj.filters
/build/flecs_static.vcxproj
/build/flecs_static.dir/Debug/world.obj
/build/flecs_static.dir/Debug/worker.obj
/build/flecs_static.dir/Debug/vector.obj
/build/flecs_static.dir/Debug/type.obj
/build/flecs_static.dir/Debug/table.obj
/build/flecs_static.dir/Debug/system.obj
/build/flecs_static.dir/Debug/stats.obj
/build/flecs_static.dir/Debug/stage.obj
/build/flecs_static.dir/Debug/parser.obj
/build/flecs_static.dir/Debug/os_api.obj
/build/flecs_static.dir/Debug/misc.obj
/build/flecs_static.dir/Debug/map.obj
/build/flecs_static.dir/Debug/flecs_static.vcxproj.FileListAbsolute.txt
/build/flecs_static.dir/Debug/flecs_static.tlog/Lib.command.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/Lib-link.write.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/Lib-link.read.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/flecs_static.lastbuildstate
/build/flecs_static.dir/Debug/flecs_static.tlog/CustomBuild.write.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/CustomBuild.read.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/CustomBuild.command.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/CL.write.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/CL.read.1.tlog
/build/flecs_static.dir/Debug/flecs_static.tlog/CL.command.1.tlog
/build/flecs_static.dir/Debug/flecs_static.pdb
/build/flecs_static.dir/Debug/flecs_static.log
/build/flecs_static.dir/Debug/flecs_static.Build.CppClean.log
/build/flecs_static.dir/Debug/err.obj
/build/flecs_static.dir/Debug/entity.obj
/build/flecs_static.dir/Debug/column_system.obj
/build/flecs_static.dir/Debug/chunked.obj
/build/flecs_shared.vcxproj.filters
/build/flecs_shared.vcxproj
/build/flecs_shared.dir/Debug/world.obj
/build/flecs_shared.dir/Debug/worker.obj
/build/flecs_shared.dir/Debug/vector.obj
/build/flecs_shared.dir/Debug/vc142.pdb
/build/flecs_shared.dir/Debug/type.obj
/build/flecs_shared.dir/Debug/table.obj
/build/flecs_shared.dir/Debug/system.obj
/build/flecs_shared.dir/Debug/stats.obj
/build/flecs_shared.dir/Debug/stage.obj
/build/flecs_shared.dir/Debug/parser.obj
/build/flecs_shared.dir/Debug/os_api.obj
/build/flecs_shared.dir/Debug/misc.obj
/build/flecs_shared.dir/Debug/map.obj
/build/flecs_shared.dir/Debug/flecs_shared.vcxproj.FileListAbsolute.txt
/build/flecs_shared.dir/Debug/flecs_shared.tlog/link.write.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/link.read.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/link.command.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/flecs_shared.lastbuildstate
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CustomBuild.write.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CustomBuild.read.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CustomBuild.command.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CL.write.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CL.read.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.tlog/CL.command.1.tlog
/build/flecs_shared.dir/Debug/flecs_shared.log
/build/flecs_shared.dir/Debug/flecs_shared.Build.CppClean.log
/build/flecs_shared.dir/Debug/err.obj
/build/flecs_shared.dir/Debug/entity.obj
/build/flecs_shared.dir/Debug/column_system.obj
/build/flecs_shared.dir/Debug/chunked.obj
/build/flecs.sln
/build/Debug/flecs_static.pdb
/build/Debug/flecs_static.lib
/build/Debug/flecs_shared.pdb
/build/Debug/flecs_shared.ilk
/build/Debug/flecs_shared.dll
/build/cmake_install.cmake
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/generate.stamp.list
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/d8142c6d5c15e95c3eb309a5443776c4/INSTALL_force.rule
/build/CMakeFiles/d8142c6d5c15e95c3eb309a5443776c4/generate.stamp.rule
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/3.16.0-rc3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/3.16.0-rc3/VCTargetsPath.vcxproj
/build/CMakeFiles/3.16.0-rc3/VCTargetsPath.txt
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.16.0-rc3/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.16.0-rc3/CMakeSystem.cmake
/build/CMakeFiles/3.16.0-rc3/CMakeRCCompiler.cmake
/build/CMakeFiles/3.16.0-rc3/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.16.0-rc3/CMakeCCompiler.cmake
/build/CMakeCache.txt
/build/ALL_BUILD.vcxproj.user
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj
/build/.vs/flecs/v16/Solution.VC.db-wal
/build/.vs/flecs/v16/Solution.VC.db-shm
/build/.vs/flecs/v16/Solution.VC.db
/build/.vs/flecs/v16/ipch/AutoPCH/3b2d0407540ef8fa/COLUMN_SYSTEM.ipch
/build/.vs/flecs/v16/Browse.VC.opendb
/build/.vs/flecs/v16/Browse.VC.db
/build/.vs/flecs/v16/.suo
/build/.vs/flecs/v16/ipch/AutoPCH/e349fd647e044502/MISC.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/d6e78752ff000647/VECTOR.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/c33988ea65e19483/SYSTEM.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/9f22b1c65d564357/STATS.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/8b11fcddd4032241/PARSER.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/7cb77627c65598fe/TYPE.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/734c0713d0f30a7a/MAP.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/6f0bc67a82f9c8d8/TABLE.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/605f85ff3dfbc0fd/ENTITY.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/4d760fe01d80ebc4/WORLD.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/1a91898c113228b0/WORKER.ipch
/build/.vs/flecs/v16/ipch/AutoPCH/12c837dbdc301675/OS_API.ipch
