.DS_Store
bin
.bake_cache
.vscode
gcov
.idea
*.pdb
deps
cmake-build-debug
bazel-*
**/CMakeFiles/*
.vs
out
docs/html
MODULE.bazel.lock

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

docs/tools/c_cpp_doctest/target
docs/tools/c_cpp_doctest/Cargo.lock
