version: 1.0.{build}
image: Visual Studio 2017
init:
- cmd: >-
    call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

    cd ..\

    git clone https://github.com/SanderMertens/bake

    cd bake\build-Windows\

    nmake

    cd ..\

    bake.exe setup --local

    set PATH=%USERPROFILE%\bake;%PATH%
    
    cd ..\flecs

build_script:
  - bake
    
test_script:
- cmd: bake run test/collections
- cmd: bake run test/api

